.desktop {
  height: 100%;
  width: 100%;

  background-image: url("/public/images/ubuntu-desktop-background-1080p.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
