.modal-icon-list {
  padding: 1rem;
  border-radius: 10px;
  margin: 1rem 0;

  background: linear-gradient(
    68deg,
    rgba(42, 42, 42, 1) 40%,
    rgba(0, 212, 255, 0) 85%
  );
}

.modal-icon-list__img {
  height: 7.5rem;
  width: 7.5rem;
}
